<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-right">
  <div class="container">
    <a class="navbar-brand" href="/admin">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item px-2">
          <a class="nav-link" href="/admin/documentInventory/all/all/1">Document Inventory</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/admin/users/1">Users</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/admin/documents/add">Add Documents</a>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/documents/all/all/1">Browse Documents</a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="far fa-user"></i> Welcome <%=currentUser.username%>
          </a>
          <div class="dropdown-menu">
            <a href="/admin/profile" class="dropdown-item">
              <i class="far fa-user-circle"></i> Profile
            </a>

            <a href="/auth/admin-logout" class="dropdown-item">
              <i class="fa fa-user-times"></i> Logout
            </a>
          </div>
        </li>
        <!-- <li class="nav-item">
              <a href="/admin/notifications" class="nav-link">
                  <i class="fa fa-bell"></i><span class="badge badge-danger badge-pill">2</span>
              </a>
            </li> -->
      </ul>
    </div>
  </div>

</nav>
<div class="row flex-nowrap p-0 m-0">

  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
      </a>
      <div class='' id='side-bar'>
        <ul class="nav nav-pills text-white flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu">
          <li class="nav-item">
            <a href="/admin" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi bi-file-earmark-text"></i> <span class="ms-1 d-none d-sm-inline">Catalogue</span> </a>

            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="/admin/documentInventory/all/all/1" class="nav-link px-0"> <span
                    class="d-none d-sm-inline">Recherche</span> </a>
              </li>
              <li>
                <a href="/admin/documents/add" class="nav-link px-0"> <span class="d-none d-sm-inline">Ajouter
                    un document</span> </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 fa bi-people"></i> <span class="ms-1 d-none d-sm-inline">Administration</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
              <li class="w-100">
                <a href="/admin/users/1" class="nav-link px-0"> <span class="d-none d-sm-inline">Utilisateurs</span></a>
              </li>
              <li class="w-100">
                <a href="/admin/profile" class="nav-link px-0"> <span class="d-none d-sm-inline">Profile</span></a>
              </li>

            </ul>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 fas fa-book-reader "></i> <span class="ms-1 d-none d-sm-inline">Circulation</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="/admin/users/1" class="nav-link px-0"> <span class="d-none d-sm-inline">Lecteurs</span></a>
              </li>
              <li>
                <a href="/admin/issues/1" class="nav-link px-0"> <span class="d-none d-sm-inline">Exemplaires</span></a>
              </li>
              <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0"> <span
                    class="d-none d-sm-inline">Administration</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#submenu2">
                  <li> <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Penalitees</span></a></li>
                  <li> <a class="nav-link px-0" href="#"> <span class="d-none d-sm-inline">Suspensions</span></a></li>

                </ul>
              </li>
            </ul>
          </li>

        </ul>
      </div>
      <hr>
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">loser</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/auth/admin-logout">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col  p-0 ">