@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
h1,h2,h3,h4,h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;

}
.rounded-card{
  border-radius: 20%;
}
button {
  font-weight: bold;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .40rem .40rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

footer { 
  flex: 0 0 auto;
  display: flex;
  color: #ccc;
  margin: 1em;
  padding: 1em;
  width: 80%;
  border-top: 1px solid blue;
  justify-content: center;
}

.table-text {
  color: red;
  font-weight: bold;
}
ul  > i  {
  color : rgb(0, 255, 149);
}
.side-bar > ul ,i:hover  {
  color : rgb(252, 252, 252);
}
.side-bar >  ul ,span ,a  {
  color: rgb(194, 194, 194);
}
.navbar {
}
/* =======================*/
body {
  background-color: #fff
}

.form-control  :focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.close:focus {
  box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.mt-200 {
  margin-top: 200px
}
.bttns{
  margin-top: 500%;
  display: flex;
  position:absolute;
   bottom: 2rem; 
  width : 90%
}
.bttns button {
  margin :auto;
  padding-inline : 1rem;
  border-radius: 3rem;
 
}
.bttns .btnPrev{
float: left;
margin-right: 5px;
}

.bttns .btnNext{
float: right;margin-left: 5px;
}
html{
  width:100%;
  height:100%;
}
input .form-control   {
  border-radius: 2rem;
  
}
button {
  border-radius: 2rem;
}