@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Source+Sans+Pro:wght@900&display=swap');
h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold !important;

}
body{
font-family: "Poppins" , sans-serif !important;
}
.rounded-card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  /* background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125); */
  box-shadow: -1px -1px 5px 5px  rgba(0, 0, 0, 0.062);
  border-radius: 2rem;
}
.rounded-card-header{
  padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(91, 91, 104);
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 2rem 2rem 0px 0px;
    color:#fff
}
.rounded-table{
border-radius: 2rem;

}
body{
  /* background : url(../images/background.svg); */
  background-color: rgb(240, 240, 240) !important;
  /* background-size : 50%; */
  background-repeat : no-repeat;
  /* background-position : center; */
}
button {
  font-weight: bold;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .40rem .40rem;
  font-size: .8rem;
  line-height: .5;
  border-radius: .2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

footer { 
  flex: 0 0 auto;
  display: flex;
  color: #ccc;
  margin: 1em;
  padding: 1em;
  width: 80%;
  border-top: 1px solid blue;
  justify-content: center;
}

.table-text {
  color: red;
  font-weight: bold;
}
ul  > i  {
  color : rgb(0, 255, 149);
}
.side-bar > ul ,i:hover  {
  color : rgb(252, 252, 252);
}
.side-bar >  ul ,span ,a  {
  color: rgb(194, 194, 194);
}
.navbar {
}
/* =======================*/
body {
  background-color: #fff
}

.form-control  :focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.close:focus {
  box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.mt-200 {
  margin-top: 200px
}
.bttns{
  display: flex;
   bottom: 0rem;
   margin-bottom: 10px; 
  width : 90%
}
.bttns button {
  margin :auto;
  padding-inline : 1rem;
  border-radius: 3rem;
 
}
.bttns .btnPrev{
float: left;
margin-right: 5px;
}

.bttns .btnNext{
float: right;margin-left: 5px;
}
html{
  width:100%;
  height:100%;
}
input .form-control   {
  border-radius: 2rem;
  
}
button {
  border-radius: 2rem;
}
html { 
 font-family: 'Source Sans Pro', sans-serif;
}