<% include ../../partials/header %>

  <!--NAVIGATION BAR FOR ADMIN-->
  <% include ../../partials/adminNav %>

    <% include ../../partials/alerts %>

      <div class="container my-4">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-header text-center">
              <h4>Add Document exemplaire</h4>
            </div>
            <form action="/admin/document/<%= document._id%>/copies/add/" method="POST">
              <div class="form-group">
                <label for="titre" class="form-label">Cote</label>
                <input name="document[cote]" type="text" class="form-control rounded-pill  " required>
              </div>

              <div class="form-group">
                <label for="auteur" class="form-label">localisation</label>
                <input name="document[localization]" type="text" class="form-control rounded-pill  " required>
              </div>

              <div class="form-group">
                <label for="categorie" class="form-label">Support</label>
                <input name="document[material]" type="text" class="form-control rounded-pill  " required>
              </div>
              <div class="form-group">
                <label for="categorie" class="form-label">Statut</label>
                <input name="document[status]" type="text" class="form-control rounded-pill  " required>
              </div>



              <div class="form-group">
                <label for="auteur" class="form-label">Type de pret</label>
                <select name="document[landtype]" class="form-control rounded-pill  -select" default='' required>
                  <option value="--">--</option>
                  <option value="pret externe">pret externe</option>
                  <option value="consulation sur place">consulation sur place</option>

                </select>

              </div>

              <button class=" btn rounded-pill  btn-block btn-primary">Ajouter</button>
            </form>
          </div>
        </div>
      </div>

      <% include ../../partials/footer %>