<% include ../partials/header %>

<!--NAVIGATION BAR FOR ADMIN-->
<% include ../partials/adminNav %> <% include ../partials/alerts %>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card">
        <div class="rounded-card-header text-center">
          <h4>Add Document</h4>
        </div>
        <div class="card-block">
          <form class="p-3" action="/admin/documents/add" method="POST">
            <div class="form-group">
              <label class="form-label">Titre</label>
              <input
                type="text"
                name="document[titre]"
                placeholder="Document Titre"
                class="form-control rounded-pill"
                required
              />
            </div>

            <div class="form-group">
              <label class="form-label">Auteur Name</label>
              <input
                type="text"
                name="document[auteur]"
                placeholder="Auteur Name"
                class="form-control rounded-pill"
                required
              />
            </div>

            <div class="form-group">
              <label class="form-label">ISBN</label>
              <input
                type="text"
                name="document[ISBN]"
                placeholder="ISBN"
                class="form-control rounded-pill"
                required
              />
            </div>

            <div class="form-group">
              <label class="form-label">Categorie</label>
              <input
                type="text"
                name="document[categorie]"
                placeholder="Document Categorie"
                class="form-control rounded-pill"
                required
              />
            </div>
            <div class="form-group">
              <label class="form-label">Type</label>

              <select name="document[type]" size="1">
                <option value="0" selected=""></option>
                <option value="Livre">Livre</option>
                <option value="Périodique">Périodique</option>
                <option value="Thèse">Thèse</option>
                <option value="Article">Article</option>
                <option value="Document audio-visuel">
                  Document audio-visuel
                </option>
                <option value="Document cartographique">
                  Document cartographique
                </option>
                <option value="Ressource électronique">
                  Ressource électronique
                </option>
                <option value="Autre">Autre</option>
              </select>
              <!-- <input type="text" name="document[type]" placeholder="type" class="form-control rounded-pill  " required> -->
            </div>

            <div class="form-group">
              <label class="form-label">Document Description</label>
              <textarea
                name="document[resume]"
                cols="30"
                rows="10"
                class="form-control rounded-pill"
              ></textarea>
            </div>
            <button
              type="submit"
              class="btn rounded-pill btn-primary btn-block"
            >
              Add Document
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace("document[resume]");
</script>

<% include ../partials/footer %>
